@import 'null.css';


body{
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    color:#fff;
    text-transform: uppercase;

}
.wrapper {
    box-sizing: border-box;
    overflow: hidden;
    min-height: 100%;
}

.sky{
    background: #49baed;
    width: 100%;
    height: 400px;
    position: relative;
}
.sky__item {
    width: 200px;
    height: 200px;
    border-radius:50%;
    background: orange;
    /* box-shadow: 0px 0px 20px 10px orange; */
    position: absolute;
    top:-75px;
    left:-75px;
    cursor: pointer;
}
.sky__item:hover {
    box-shadow: 0px 0px 20px 10px orange;
}
.sky__item:hover .item-sky__beam{
    box-shadow: 0px 0px 20px 10px orange;
}
.item-sky__beam {
    width: 5px;
    height: 120px;
    background: orange;
    position: absolute;
}
.item-sky__beam_top {
    top:42px;
    right: -120px;
    transform: rotate(-95deg);
}
.item-sky__beam_center {
    bottom: -90px;
    right: -75px;
    transform: rotate(-55deg);
}
.item-sky__beam_bottom {
    bottom: -180px;
    right: 70px;
    transform: rotate(-10deg);
}
.cloud {
    width: 500px;
    height: 300px;
    position: absolute;
    top:20px;
    right:100px;
}
.cloud__item {
    background: #bde9ff;
}
.cloud__item_1 {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
}
.cloud__item_2 {
    width: 225px;
    height: 225px;
    border-radius: 50%;
    position: absolute;
    top: 50px;
    left: -110px;
}
.cloud__item_3 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    position: absolute;
    top: 35px;
    left: 145px;
}
.cloud__item_4 {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    position: absolute;
    bottom:45px;
    right:60px;
}
.cloud__item_5 {
    width: 170px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom:20px;
    right:140px;
}
.cloud__item_6 {
    width: 170px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    bottom:20px;
    left:50px;
}
.road {
    width: 100%;
    background: #a6a6a6;
    position: relative;
}
.crosswalk {
    padding-top:10px;
    padding-bottom: 10px;
    width: 600px;
}
.crosswalk__item {
    width: 500px;
    height: 40px;
    margin: 0 auto 20px;
}
.crosswalk__item:last-child{
    margin-bottom: 0px;

}
.crosswalk__item_black {
    background-color: #000;
}
.crosswalk__item_white {
    background: #fff;
}
.traffic-lights {
    width: 300px;
    height: 390px;
    position: absolute;
    z-index: 3;
    top: -320px;
    left: 478px;
    
}
.traffic-lights__bottom {
    width: 80px;
    height: 20px;
    border-radius: 50%;
    background: #383838;
    position: absolute;
    bottom:0;
    left:100px;
    z-index: 1;
}
.traffic-lights__tube {
    width: 15px;
    height: 220px;
    background:#575757;
    position: absolute;
    bottom: 10px;
    left: 132px;
    z-index: 2;
}
.traffic-lights__colors {
    width: 60px;
    height: 100px;
    background: #383838;
    border-radius: 10%;
    position: absolute;
    top: 70px;
    left: 110px;
    z-index: 3;
    cursor: pointer;
}
.traffic-lights__colors:hover .traffic-lights__item_red{
    box-shadow: 0px 0px 10px 5px red;
}
.traffic-lights__item {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 5px auto;
}
.traffic-lights__item_red {
    background: red;
}
.traffic-lights__item_yellow {
    background: yellow;
    opacity: 0.2;
}
.traffic-lights__item_green {
    background: green;
    opacity: 0.4;
}
.markup {
    width: 1200px;
    height: 40%;
    position: absolute;
    bottom: -105px;
    right: 88px;
    z-index: 2;
}
.markup__item {
    background: #fff;
    width: 70px;
    height: 10px;
    border: 1px solid #000;
    position: absolute;
}

.markup__item_2 {
    left: 110px;
}
.markup__item_3 {
    left: 220px;
}
.markup__item_4 {
    left: 340px;
}
.markup__item_5 {
    left: 460px;
}
.markup__item_6 {
    left: 580px;
}
.markup__item_7 {
    left: 700px;
}
.markup__item_8 {
    left: 820px;
}
.markup__item_9 {
    left: 940px;
}
.markup__item_10 {
    left: 1060px;
}
.markup__item_11 {
    left: 1180px;
}

.car {
    width: 800px;
    height: 300px;
    color:red;
    position: absolute;
    top:-80px;
    left:706px;
}
.car__item_1 {
    width: 800px;
    height: 160px;
    background:red;
    position: absolute;
    left:-50px;
    bottom:0px;
    border-radius: 18% 82% 6% 94% / 100% 0% 100% 0% ;
    border-bottom: 20px solid #000;
}
.car__item_2 {
    width: 550px;
    height: 100px;
    background-color: red;
    position: absolute;
    left: 200px;
    bottom: 160px;
    border-radius:25% 75% 0% 100% / 100% 0% 100% 0% ;
}
.car__item_3{
    width: 100px;
    height: 100px;
    background: grey;
    position: absolute;
    z-index: 2;
    left:50px;
    bottom:-55px;
    border-radius: 50%;
    outline: 40px solid #303C3C;
}
.car__item_3-1{
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    left: 35px;
    top: 35px;
}
.car__item_3-1-1 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: -10px;
    top: 11px;
}
.car__item_3-1-2 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 6px;
    top: 31px;
}
.car__item_3-1-3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 29px;
    top: 23px;
}
.car__item_3-1-4 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 6px;
    top: -9px;
}
.car__item_3-1-5 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: 30px;
    top: 1px;
}
.car__item_3-2-1 {
    width: 5px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    top: 11px;
    left: 24px;
    transform: rotate(-47deg);
}
.car__item_3-2-2 {
    width: 5px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    top: 3px;
    left: 61px;
    transform: rotate(25deg)
}
.car__item_3-2-3 {
    width: 5px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    top: 36px;
    left: 80px;
    transform: rotate(101deg);
}
.car__item_3-2-4 {
    width: 5px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    top: 63px;
    left: 59px;
    transform: rotate(165deg);
}
.car__item_3-2-5 {
    width: 5px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    top: 52px;
    left: 22px;
    transform: rotate(58deg);
}
.car__item_4{
    width: 100px;
    height: 100px;
    background: grey;
    position: absolute;
    z-index: 2;
    right:147px;
    bottom:-55px;
    border-radius: 50%;
    outline: 40px solid #303C3C;
}
.car__item_4-1{
    width: 30px;
    height: 30px;
    background-color: #000;
    border-radius: 50%;
    position: absolute;
    right: 35px;
    top: 35px;
}
.car__item_4-1-1 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 30px;
    top: 1px;
}
.car__item_4-1-2 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 6px;
    top: -9px;
}
.car__item_4-1-3 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 29px;
    top: 23px;
}
.car__item_4-1-4 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: 6px;
    top: 31px;
}
.car__item_4-1-5 {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    right: -10px;
    top: 11px;
}
.car__item_4-2-1 {
    width: 5px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    top: 4px;
    left: 33px;
    transform: rotate(-28deg);
}
.car__item_4-2-2 {
    width: 5px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    top: 14px;
    left: 73px;
    transform: rotate(58deg);
}
.car__item_4-2-3 {
    width: 5px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    top: 50px;
    left: 77px;
    transform: rotate(116deg);
}
.car__item_4-2-4 {
    width: 5px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    top: 63px;
    left: 37px;
    transform: rotate(208deg);
}
.car__item_4-2-5 {
    width: 5px;
    height: 34px;
    background-color: #fff;
    position: absolute;
    top: 35px;
    left: 16px;
    transform: rotate(87deg);
}
.car__item_5{
    width: 180px;
    height: 82px;
    border-top: 42px solid #0B1D21;
    border-right: 20px solid #0B1D21;
    border-left: 20px solid #0B1D21;
    position: absolute;
    z-index: 1;
    right:88px;
    bottom: 5px;
    border-radius: 49% 51% 0% 100% / 100% 100% 0% 0% ;
}
.car__item_6{
    width: 180px;
    height: 82px;
    border-top: 42px solid #0B1D21;
    border-right: 20px solid #0B1D21;
    border-left: 20px solid #0B1D21;
    position: absolute;
    z-index: 2;
    left:-10px;
    bottom: 5px;
    border-radius: 49% 51% 0% 100% / 100% 100% 0% 0% ;
}
.car__item_7{
    width: 50px;
    height: 120px;
    background-color: #000;
    position: absolute;
    right: 11px;
    top: 150px;
    border-radius:0% 100% 100% 0% / 50% 49% 51% 50%;
    transform: rotate(10deg);
}
.car__item_8{
    width: 84px;
    height: 50px;
    background-color: #0B1D21;
    position: absolute;
    left: -75px;
    bottom:20px;
    border-radius: 100% 0% 72% 28% / 58% 100% 0% 42% ;
}
.car__item_9 {
    width: 160px;
    height: 100px;
    background-color: #15292A;
    position: absolute;
    right:50px;
    top:53px;
    border: 4px solid #000;
}
.car__item_10 {
    width: 483px;
    height: 10px;
    background-color: #15292A;
    position: absolute;
    top: 40px;
    right:50px;
    border-radius: 23% 74% 0% 100% / 100% 0% 100% 0%;
    border-bottom: 4px solid #000;
}
.car__item_11 {
    width: 130px;
    height: 80px;
    background-color: #495A61;
    position: absolute;
    right:65px;
    top:63px;
    border: 4px solid #000;
    border-radius: 20px 19px 19px 17px / 19px 18px 17px 20px;
}
.car__item_12 {
    width: 130px;
    height: 80px;
    background-color: #495A61;
    position: absolute;
    right:232px;
    top:67px;
    border: 4px solid #000;
    border-radius: 20px 19px 19px 17px / 19px 18px 17px 20px;
}
.car__item_12-1{
    width: 5px;
    height: 80px;
    background-color: #000;
    position: absolute;
    right: 20px;
}
.car__item_13 {
    width: 155px;
    height: 80px;
    background-color: #98b2af;
    position: absolute;
    right:405px;
    top:67px;
    border: 4px solid #000;
    border-radius: 68px 23px 19px 17px / 63px 34px 17px 20px;
}
.car__item_14 {
    width: 192px;
    height: 200px;
    position: absolute;
    left: 211px;
    bottom: 34px;
    border-radius: 81px 23px 19px 17px / 107px 34px 17px 20px;
    border: 3px solid #000;
}
.car__item_15{
    width: 153px;
    height: 200px;
    position: absolute;
    z-index: 0;
    left: 419px;
    bottom: 34px;
    border: 3px solid #000;
    border-radius: 23px 22px 25px 24px / 24px 22px 23px 22px;
}
.car__item_16 {
    width: 30px;
    height: 30px;
    border-radius: 50px;
    background-color: #000;
    position: absolute;
    bottom:105px;
    right:100px;
    box-shadow: inset 0px 0px 11px 4px  grey;
}
.car__item_17 {
    width: 20px;
    height: 5px;
    background-color: #000;
    position: absolute;
    bottom:116px;
    right:104px;
    border: 1px solid #fff;
}
.car__item_18{
    width: 20px;
    height: 30px;
    background-color: #FF6C09;
    position: absolute;
    bottom:106px;
    right:42px;
    border-left: 1px solid #000;
    border-radius:20%;
    transform: rotate(5deg);
    cursor: pointer;
}
.car__item_18:hover{
    box-shadow: 0px 0px 10px 10px #FF6C09 ;
}
.car__item_19{
    width: 7px;
    height: 19px;
    background-color: #000;
    position: absolute;
    bottom: 112px;
    right: 55px;
    border-radius: 20%;
    transform: rotate(5deg);
}
.car__item_20{
    width: 32px;
    height: 50px;
    background-color: yellow;
    position: absolute;
    bottom: 71px;
    left: -42px;
    border-radius: 192px 0px 0px 53px / 200px 18px 0px 116px;
    cursor: pointer;
}
.car__item_21{
    width: 400px;
    height: 200px;
    background-color: yellow;
    opacity: 0;
    box-shadow: 0px 0px 10px 10px yellow; 
    position: absolute;
    left:-458px;
    bottom:0px;
    border-radius: 70px 400px 400px 72px / 143px 200px 200px 130px;
    
}
.car__item_20:hover + .car__item_21 {
    opacity: 0.5;
}
.car__item_22{
    width: 200px;
    height: 3px;
    background-color: #000;
    position: absolute;
    left: 12px;
    bottom: 145px;
}
.car__item_23{
    width: 20px;
    height: 15px;
    border: 2px solid #000;
    box-shadow: inset 0px 0px 5px 1px #000;
    position: absolute;
    left: 345px;
    bottom: 105px;
}
.car__item_24{
    width: 20px;
    height: 15px;
    border: 2px solid #000;
    box-shadow: inset 0px 0px 5px 1px #000;
    position: absolute;
    left: 510px;
    bottom: 105px;
}
.car__item_25{
    width: 35px;
    height: 7px;
    background-color: #000;
    position: absolute;
    left: 340px;
    bottom: 110px;
    border-radius: 20px;
}
.car__item_26{
    width: 35px;
    height: 7px;
    background-color: #000;
    position: absolute;
    left: 505px;
    bottom: 110px;
    border-radius: 20px;
}
.car__item_27 {
    width: 13px;
    height: 14px;
    background-color: #303C3C;
    position: absolute;
    left: 218px;
    top: 140px;
    border-radius: 30%;
}
.car__item_28 {
    width: 20px;
    height: 5px;
    background-color: #303C3C;
    position: absolute;
    left: 226px;
    top: 133px;
    transform: rotate(-45deg);
}
.car__item_29 {
    width: 30px;
    height: 20px;
    background-color: #303C3C;
    position: absolute;
    left: 241px;
    top: 112px;
    border-radius: 5px;
    outline: 4px solid #000;

}
.car__item_30 {
    width: 50px;
    height: 18px;
    background-color: #0B1D21;
    position: absolute;
    right: 56px;
    bottom: 10px;
    border-right: 4px solid red;
    cursor: pointer;
}
.car__item_31 {
    width: 100px;
    height: 30px;
    background-color: #383838;
    opacity: 0;
    position: absolute;
    right: -53px;
    bottom: 6px;
    border-radius: 400px 0px 0px 400px / 200px 0px 0px 200px;
    box-shadow: 0px 0px 10px 10px #383838; 
}
.car__item_30:hover + .car__item_31{
    opacity: 0.5;
}
.car__item_32{
    opacity: 0;
    width: 714px;
    height: 0px;
    background-color: blue;
    position: absolute;
    bottom: -20px;
    left: 0px;
    box-shadow: 3px 8px 40px 20px blue;
    z-index: 1;
}
.car__item_1:hover + .car__item_32{
    opacity: 0.5;
}